.paging-item{

display: none !important;
}
.slider-control-centerright{
display: none;
}
.slider-control-centerright >button{
  
  display:none;       
}
.slider-control-centerleft>button {

    display: none;
}
.navprocont{
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.corseolbox{
 
height: auto;
}